body
{
background-color:steelblue!important;
}
.heading {
	color: #444499;
	font-family: Montserrat, sans-serif, cursive;
}
.heading2 {
	color: Cyan;
	font-family: Montserrat, sans-serif, cursive;
}
.options {
	font-family: Montserrat, sans-serif, cursive;
	font-size: 16px;
	font-style: oblique;
	color: #444499;
}

input[readonly]
{
    background-color:#34495E;
	border:none;
	color:white;
}


table.TableDueColonne {
    border-collapse: separate; /* allow spacing between cell borders */
    border-spacing: 0 5px; /* syntax is <vertical value> <horizontal value> */
}

table.TableDueColonne tbody tr {
	height:26px;
}

table.TableDueColonne tbody tr td:first-of-type {
	width: 120px;
	text-align: right;
	padding-right: 5px;
}

table.TableDueColonne tbody tr td {
	color:#294884;
}

table.TableDueColonne tbody tr.headerRow td {
	color:#00005b;
	font-weight:bold;
}

table.TableDueColonne tbody tr td input,
table.TableDueColonne tbody tr td textarea 
{
	/*width:100%;	*/
	/*text-align:left;*/
	color:#294884;
}

table.TableDueColonne tbody tr td input[type=checkbox]{
	width: auto;
	/*text-align:left;*/
}

